  
{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Start Carousel -->
<div id="carouselExampleControls" class="carousel slide carousel-fade" data-ride="carousel">
      <div class="carousel-inner">
            <div class="carousel-item active" >
                  <img src="{% static 'carousel-img01.jpg' %}" class="d-block w-100 img-fluid" alt="fitness women">
                  <div class="carousel-caption">
                        <div class="container">
                              <div class="row justify-content-end">
                                    <div class="col-8 bg-custom py-0 py-lg-3 px-0 text-left">
                                          <h1 class="animate__animated animate__bounce animate__delay-2s">Fitness for life</h1>
                                          <h2 class="animate__animated animate__fadeInRight animate__delay-0.5s py-0 py-lg-3">Shape Yourself</h2>
                                          <p class="animate__animated animate__fadeInRight animate__delay-1s">wake up. it's time to change</p>
                                          <a href="#" class="animate__animated animate__fadeInRight animate__delay-2s btn btn-lg">Join Us Now</a>
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>
            <div class="carousel-item">
                  <img src="{% static 'carousel-img02.jpg' %}" class="d-block w-100 img-fluid" alt="fitness man">
                  <div class="carousel-caption">
                        <div class="container">
                              <div class="row justify-content-end">
                                    <div class="col-8 bg-custom py-0 py-lg-3 px-0 text-left">
                                          <h1 class="animate__animated animate__bounce animate__delay-2s">Are you ready to change</h1>
                                          <h2 class="animate__animated animate__fadeInRight animate__delay-0.5s py-0 py-lg-3 d-none d-sm-block">Keep Your Body Fit & Strong</h2>
                                          <p class="animate__animated animate__fadeInRight animate__delay-1s">wake up. no more excuses</p>
                                          <a href="#" class="animate__animated animate__fadeInRight animate__delay-2s btn btn-lg">Join Us Now</a>
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
      </a>
</div>
<!-- End Carousel -->
<!--Start Service Block-->
<section class="services-section">
      <div class="side-text">XTREME FC</div>
      <div class="auto-container">
            <div class="row">
                  <!--Service Block 1-->
                  <div class="col-lg-4 col-md-6 col-sm-12 pb-3 pt-4 pt-md-0 pt-lg-0 service-block">
                        <div class="inner-box">
                              <div class="icon-box mt-sm-4 mt-md-4">
                                    <span class="icon"><i class="fas fa-stopwatch"></i></span>
                              </div>
                              <h4><a href="{% url 'products' %}?category=back_attack,boulder_shoulders,hard_ass_hamstrings,precision_pecs,quadzilla,ultimate_core"></a>progression</h4>
                              <div class="text">The progression principle says that there is a perfect level of overload between increasing too slow and too rapidly.</div>
                              <span class="big-icon"><i class="fas fa-stopwatch"></i></span>
                        </div>
                  </div>
                  <!--Service Block 2-->
                  <div class="col-lg-4 col-md-6 col-sm-12 pb-3 service-block style-two">
                        <div class="inner-box">
                              <div class="icon-box mt-sm-4 mt-md-4">
                                    <span class="icon"><i class="fa fa-dumbbell"></i></span>
                              </div>
                              <h4><a href="{% url 'products' %}?category=back_attack,boulder_shoulders,hard_ass_hamstrings,precision_pecs,quadzilla,ultimate_core"></a>workout</h4>
                              <div class="text ml-lg-1 mr-lg-1">Whether you have specific training goals or target areas, or you're just looking to find ways to shake up your routine or inspire you to move, these expert-created workouts will get you going.</div>
                              <span class="big-icon"><i class="fa fa-dumbbell"></i></span>
                        </div>
                  </div>
                  <!--Service Block 3-->
                  <div class="col-lg-4 col-md-6 col-sm-12 pb-3 service-block style-three">
                        <div class="inner-box">
                              <div class="icon-box mt-sm-4 mt-md-4">
                                    <span class="icon"><i class="fab fa-nutritionix"></i></span>
                              </div>
                              <h4><a href="{% url 'products' %}?category=back_attack,boulder_shoulders,hard_ass_hamstrings,precision_pecs,quadzilla,ultimate_core"></a>nutrition</h4>
                              <div class="text">Foods are made up of nutrients. Protein, fat and vitamins are types of nutrients. Your body needs the right mix of nutrients to be healthy and well.</div>
                              <span class="big-icon"><i class="fab fa-nutritionix"></i></span>
                        </div>
                  </div>
            </div>
      </div>
</section>
<!--End Sevice Block-->
<!--Start About Section-->
<section id="about" class="about-section">
      <div class="auto-container pl-5 pr-5">
            <div class="row">
                  <!--Content-Column-->
                  <div class="content-column col-lg-6 col-md-12 col-sm-12">
                        <div class="inner-column">
                              <!--Section Title-->
                              <div class="section-title">
                                    <div class="title">Xtreme FC all about</div>
                                    <h2>What is functional</h2>
                              </div>
                              <div class="red-text">
                                    At Xtreme Fitness Center Cork City, our motto is your fitness your way.
                              </div>
                              <div class="text">
                                    Whatever way you choose to keep fit, whatever advice or instruction you need – You’ll find it here. All our gym memberships come with unlimited usage, fitness assessments and personalized fitness programs by our experienced trainers to tailor your exact needs. We offer a wide range of classes ranging from swimming lessons to fitness classes and personal training. You will also have discounted access to our 5 treatment room Spa and onsite physio, café, bar and restaurant. Your fitness, your way in peaceful, calm surroundings.
                              </div>
                              <!--Featured Block 1-->
                              <div class="featured-block">
                                    <div class="block-inner">
                                          <a href="{% url 'products' %}?category=back_attack,boulder_shoulders,hard_ass_hamstrings,precision_pecs,quadzilla,ultimate_core">
                                                <span class="icon"><i class="fas fa-biking"></i></span></a>
                                          <strong>Cardio and Strength</strong>
                                          <div class="feature-text">
                                                Our personal trainers will help you find a perfect workout
                                          </div>
                                    </div>
                              </div>
                              <!--Featured Block 2-->
                              <div class="featured-block">
                                    <div class="block-inner">
                                          <a href="{% url 'products' %}?category=back_attack,boulder_shoulders,hard_ass_hamstrings,precision_pecs,quadzilla,ultimate_core"><span class="icon"><i class="fas fa-dumbbell"></i></span></a>
                                          <strong>Fitness Training</strong>
                                          <div class="feature-text">
                                                Train with the best experts in bodybuilding field.
                                          </div>
                                    </div>
                              </div>

                        </div>
                  </div>
                  <!--Image-Column-->
                  <div class="image-column col-lg-6 col-md-12 col-sm-12">
                        <div class="inner-column wow fadeInRight animated" data-wow-delay="0ms" data-wow-duration="1500ms" data-wow-offset="10"
                         style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInRight;">
                              <div class="award animate__animated animate__pulse animate__infinite animate__slower">
                                    <img src="{% static 'award.png' %}" class="img-fluid" alt="award-badge">
                              </div>
                              <div class="image">
                                    <img src="{% static 'about-1.png' %}" class="img-fluid" alt="fitness couple">
                              </div>
                        </div>
                  </div>
            </div>
      </div>
</section>
<!--End About Section-->
<!--Start Membership Section-->
<section class="membership">
      <div class="auto-container pl-5 pr-5">
            <div class="row">
                  <!--Content-Column-->
                  <div class="content-column col-lg-10 offset-1 text-center">
                        <div class="inner-column">
                              <!--Section Title-->
                              <div class="section-title mb-5">
                                    <div class="title">Become a Member</div>
                                    <h2>Live or work in Cork? <br> Memberships are available for those looking to add fitness to their regime.</h2>
                              </div>
                        </div>
                  </div>
                  <!--Image-Column-->
                  <div class="image-column col-lg-6 col-md-6 col-sm-12">
                        <div class="inner-column">
                              <div class="membership-image mx-auto">
                                    <img src="{% static 'membership-card.jpg' %}" class="img-fluid" alt="membership-card">
                              </div>
                        </div>
                  </div>
                  <div class="content-column col-lg-6 col-md-6 col-sm-12">
                        <div class="red-text mt-5 mt-md-1 mb-5 pl-3">
                              Member Benefits available:
                        </div>
                        <div class="text">
                              <ul>
                                    <li class="pb-2">10% discount on food in Globe Bar and The Red Bean Roastery.</li>
                                    <li class="pb-2">10% discount of Maldron or Clayton Hotels</li>
                                    <li class="pb-2">Parking available @ €1.50 per hour for the first 2 hours, €2.20 after this.</li>
                                    <li class="pb-2">Private Swimming Lessons Available</li>
                                    <li class="pb-2">Personal training sessions</li>
                              </ul>
                        </div>
                        <div class="member-btn text-center">
                              <a href="" class="btn rounded-0">Become a member<i class="fas fa-user pl-2"></i></a>
                        </div>
                       
                  </div>
            </div>
      </div>
</section>
<!--End Membership Section-->
<!--Start Testimonial Section-->
<section class="testimonials-carousel">
      <div class="auto-container">
            <!--Carousel Wrapper-->
            <div id="carousel-thumb" class="carousel slide carousel-thumbnails" data-ride="carousel">
                  <div class="row clearfix">
                        <div class="carousel-column col-lg-6 col-md-12 col-sm-12 col-xs-12">
                              <!-- Section Title -->
                              <div class="section-title pl-3">
                                    <div class="title">Testimonial</div>
                                    <h2>REviews From <br> You</h2>
                              </div>
                              <!-- Slides -->
                              <div class="carousel-inner pl-3" role="listbox">
                                   <div class="carousel-item">
                                          <div class="testimonial-block">
                                                <div class="inner-box">
                                                      <div class="title">Nutritionist</div>
                                                      <h4>Melissa McCarthy</h4>
                                                      <div class="rating">
                                                            <span class="fa fa-star"></span>
                                                            <span class="fa fa-star"></span>
                                                            <span class="fa fa-star"></span>
                                                            <span class="fa fa-star"></span>
                                                            <span class="fa fa-star"></span>
                                                      </div>
                                                      <div class="quote-icon flaticon-right-quote"></div>
                                                      <div class="text">I can highly recommend Xtreme FC gym.
                                                            I started training in Xtreme FC a few months
                                                            back and he has completely changed my mindset when it comes to training.
                                                            I no longer dread going into the gym I now actually dread missing a class
                                                            in Xtreme FC.</div>
                                                </div>
                                          </div>
                                    </div>                                    
                                    <div class="carousel-item">
                                          <div class="testimonial-block">
                                                <div class="inner-box">
                                                      <div class="title">HSE worker</div>
                                                      <h4>Holly Coughlan</h4>
                                                      <div class="rating">
                                                            <span class="fa fa-star"></span>
                                                            <span class="fa fa-star"></span>
                                                            <span class="fa fa-star"></span>
                                                            <span class="fa fa-star"></span>
                                                            <span class="fa fa-star"></span>
                                                      </div>
                                                      <div class="quote-icon flaticon-right-quote"></div>
                                                      <div class="text">You get a warm welcome at Xtreme FC. You are
                                                            never judged. You are respected. Your custom is valued. You get fitter and healthier
                                                            quickly. You get sound advice and counsel. You make new friends. No class is ever the same.
                                                            You laugh a lot. You want to keep coming back.</div>
                                                </div>
                                          </div>
                                    </div>                                   
                                    <div class="carousel-item">
                                          <div class="testimonial-block">
                                                <div class="inner-box">
                                                      <div class="title">UCC Student</div>
                                                      <h4>Rachel Ryan</h4>
                                                      <div class="rating">
                                                            <span class="fa fa-star"></span>
                                                            <span class="fa fa-star"></span>
                                                            <span class="fa fa-star"></span>
                                                            <span class="fa fa-star"></span>
                                                            <span class="fa fa-star"></span>
                                                      </div>
                                                      <div class="quote-icon flaticon-right-quote"></div>
                                                      <div class="text">The group PT sessions are an excellent way to be pushed in training more that you
                                                            would working on your own while also being able to have a laugh with the group.
                                                            I'm definitely feeling stronger, fitter and faster since starting them. Thank you! </div>
                                                </div>
                                          </div>
                                    </div>
                                    <div class="carousel-item active">
                                          <div class="testimonial-block">
                                                <div class="inner-box">
                                                      <div class="title">Web Developer</div>
                                                      <h4>John O'Driscoll</h4>
                                                      <div class="rating">
                                                            <span class="fa fa-star"></span>
                                                            <span class="fa fa-star"></span>
                                                            <span class="fa fa-star"></span>
                                                            <span class="fa fa-star"></span>
                                                            <span class="fa fa-star"></span>
                                                      </div>
                                                      <div class="quote-icon flaticon-right-quote"></div>
                                                      <div class="text">Having a dedicated team of personal trainers means you have a point of contact
                                                            should you have any questions about an exercise during a class or working out in the gym
                                                            in an atmosphere that's hard working and also very friendly.</div>
                                                </div>
                                          </div>
                                    </div>
                              </div>
                             <!-- Slides --> 
                              <!-- Controls -->
                              <a class="carousel-control-prev" href="#carousel-thumb" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                              </a>
                              <a class="carousel-control-next" href="#carousel-thumb" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                              </a>                             
                        </div>
                        <div class="pagers-column col-lg-6 col-md-12 col-sm-12 col-xs-12">
                              <!-- Controls-->
                              <ol class="carousel-indicators">
                                    <li data-target="#carousel-thumb" data-slide-to="0" class=""> <div class="image"><img src="{% static 'author-1.jpeg' %}" class="img-fluid" alt="nutritionist girl"></div></li>
                                    <li data-target="#carousel-thumb" data-slide-to="1" class=""><div class="image"><img src="{% static 'author-2.jpeg' %}" class="img-fluid" alt="fitness girl"></div></li>
                                    <li data-target="#carousel-thumb" data-slide-to="2" class=""><div class="image"><img src="{% static 'author-3.jpeg' %}"  class="img-fluid" alt="girl doing fitness"></div></li>
                                    <li data-target="#carousel-thumb" data-slide-to="3" class="active"><div class="image"><img src="{% static 'author-4.jpeg' %}" class="img-fluid" alt="fitness man"></div></li>
                              </ol>
                        </div>                       
                  </div>
            </div>
      </div>
</section>
<!--End Testimonial Section-->
<!--Start Contact Map Section-->
<section class="contact-section">
      <!--map box-->
      <div class="map-box">
            <div class="map-outer">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2461.947587459914!2d-8.474601348764978!3d51.89842058975903!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x484490104a24174d%3A0xb8772718995a199f!2sSt%20Patrick&#39;s%20St%2C%20Centre%2C%20Cork!5e0!3m2!1sen!2sie!4v1632403818716!5m2!1sen!2sie" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
      </div>
      <div class="auto-container">
            <div class="map-info-box">
                  <div class="clearfix">
                        <!--Column 1-->
                        <div class="image-column col-lg-5 col-md-12 col-sm-12">
                              <div class="image">
                                    <img src="{% static 'info.jpeg' %}" alt="dumbbell picture">
                              </div>
                        </div>
                        <!--Column 2-->
                        <div class="info-column col-lg-7 col-md-12 col-sm-12">
                              <div class="inner-column">
                                    <ul>
                                          <li>
                                                <span class="icon"><i class="fas fa-map-marker-alt"></i></span>
                                                <strong>Location</strong>
                                                27 St Patrick's St, Cork, IRL
                                          </li>
                                          <li>
                                                <span class="icon"><i class="fas fa-phone-alt"></i></span>
                                                <strong>Contact</strong>
                                                <a href="tel:+353123456789"> +(353)123 456 789</a>
                                          </li>
                                          <li>
                                                <span class="icon"><i class="fas fa-at"></i></span>
                                                <strong>Email</strong>
                                                <a href="mailto:xtremefitnessclub@gmail.com">Xtremefitnessclub@gmail.com</a>
                                          </li>
                                    </ul>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
</section>
<!--End Contact Map Section-->
<!--Start Contact-form Section-->
<section class="contact-form-section">
      <div class="auto-container">
            <div class="row clearfix">
                  <!--Title Column-->
                  <div class="title-column col-lg-4 col-md-12 col-sm-12">
                        <div class="inner-column">
                              <!--Section Title-->
                              <div class="section-title">
                                    <div class="title">Contact Now</div>
                                    <h2>Ask us anything</h2>
                              </div>
                              <div class="text">For future information on membership types, corporate rates, classes, or spa bookings
                                    please contact us below</div>
                        </div>
                  </div>
                  <!--Form Column-->
                  <div class="form-column col-lg-8 col-md-12 col-sm-12">
                        <div class="inner-column">
                              <!--Form-->
                              <div class="form">
                                    <form id="myForm" onsubmit="return sendMail(this);">
                                          {% csrf_token %}
                                          <div class="row clearfix">
                                                <div class="form-group col-lg-6 col-md-6 col-sm-12">
                                                      <input type="text" name="username" placeholder="Name" required>
                                                </div>
                                                <div class="form-group col-lg-6 col-md-6 col-sm-12">
                                                      <input type="email" name="email" placeholder="Email" required>
                                                </div>
                                                <div class="form-group col-lg-12 col-md-12 col-sm-12">
                                                      <input type="text" name="subject" placeholder="Subject" required>
                                                </div>
                                                <div class="form-group col-lg-12 col-md-12 col-sm-12">
                                                      <textarea name="massage" id="message" cols="30" rows="10" placeholder="Your Message"></textarea>
                                                </div>
                                                <div class="form-group clearfix col-lg-12 col-md-12 col-sm-12">
                                                      <div class="send-message-btn">
                                                            <button>
                                                                  <p>Send Message</p>
                                                            </button>
                                                      </div>
                                                </div>
                                          </div>
                                    </form>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
</section>
<!--End Contact-form Section-->

{% endblock %} 


{% block postloadjs %}
      {{ block.super }}
            <script type="text/javascript">
                  $('button').click(function() {
                        $(this).toggleClass('clicked');
                        $('button p').text(function(i, text) {
                              return text === "Sent!" ? "Send" : "Message Sent!";
                        });
                  });
            </script>
{% endblock %}

