html {
      height: 100%;
}

body {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      overflow-x: hidden;
      
}

main {
      min-height: calc(100vh - 150px);
}

/*========Base======*/
#topbar {
      color: #fff;
      font-size: 12px;
}

.right-icons a {
      text-decoration: none;
      color: #fff;
}

.right-icons a:hover {
      color: #ff0000;
}

.right-icons i{
      color: #ff0000;
}

#topbar span {
      color: #ff0000;
      font-weight: 900;
}
/*==========*/
.search i {
      color: #ff0000;
}

.search p {
      color: #fff;
      font-size: 12px;
}

input[name='q']::placeholder {
      color: #aab7c4;
}

.navbar-icons a{
      color: #fff;
      font-size: 12px;
}

.navbar-icons a:hover {
      color: #ff0000;
}

.left-icons-mobil {
      color: #fff;
      font-size: 11px;
      padding-top: 5px;
}

.left-icons-mobil i {
      color: #ff0000;
}

.left-icons-mobil a {
      color: #fff;
}

.left-icons-mobil a:hover {
      color: #ff0000;
}

.left-icons-mobil span {
      color: #ff0000;
      font-size: 12px;
}

.navbar-brand h2 span{
      font-size: 20px;
      color: #ff0000;
}

.navbar-brand h2 {
      font-weight: 700;
      font-size: 16px;
      color: #fff;
}

.nav-item {
      padding: 0 10px;
}

.nav-item a {
      color: #fff;
}

.nav-item a:hover,
.navitem a:focus {
      color: #ff0000;
}

.dropdown-menu {
      background: #000;
      border: 1px solid rgb(27, 27, 27);
      border-radius: 8px;
}

.navbar-toggler-icon i {
      color: #fff;
      font-size: 23px;
}

.btt-button {
      z-index: 1001;
      width: 42px;
      height: 42px;
      position: fixed;
      bottom: 10px;
      right: 10px;
      background: #ff0000;
      border: none;
}

.btt-button a {
      color: #fff;
}

.btt-link,
.update-link,
.remove-item {
      cursor: pointer;

}

/*----navbar style after scroll----*/
.bg-color.scrolled {
      background-color: #000;
      box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.3);
}

/*===================HOME==================*/
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
      transition: transform 1.2s ease;
}

.carousel-caption {
      position: absolute;
      top: 54%;
      transform: translateY(-50%);
}

.carousel-control-prev,
.carousel-control-next {
      width: 50px;
      height: 50px;
      background-color: #ff0000;
      top: auto;
}

.bg-custom h1 {
      font-size: 16px;
      text-transform: uppercase;
      letter-spacing: .3rem; 
}

.bg-custom h2 {
      font-size: 50px;
      font-weight: 500;
}

.bg-custom p {
      font-size: 20px;
      letter-spacing: .3rem;
}  

.btn-lg {
      background: none;
      border: 1px solid #fff;
      border-radius: 0;
      color: #fff;
      font-size: 12px;
}

.carousel-caption a:hover {
      border: 1px solid #ff0000;
      color: #fff;
}

.services-section {
      position: relative;
      background-color: #eee;
}

.services-section::before {
      position: absolute;
      content: '';
      left: 0%;
      top: 0px;
      width: 35%;
      height: 100%;
      background-color: #181a1f;
}

.services-section:after {
      position: absolute;
      content: '';
      right: 0%;
      top: 0px;
      width: 35%;
      height: 100%;
      background-color: #ff0000;
}

.side-text {
      position: absolute;
      left: 5px;
      bottom: 0px;
      opacity: 0.20;
      font-size: 70px;
      color: transparent;
      font-weight: 700;
      transform: rotate(-90deg);
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: #ffffff;
      text-transform: uppercase;
      transform-origin: 7%;
      z-index: 10;
}

.auto-container {
      position: static;
      max-width: 1200px;
      padding: 0px 15px;
      margin: 0 auto;
}

.service-block {
      position: relative;
      z-index: 1;
}

.service-block .inner-box {
      position: relative;
      text-align: center;
      padding: 80px 0px 80px;
}

.service-block .inner-box a{
      text-decoration: none;
      cursor: pointer;
}

@media only screen and (max-width: 1023px){
      .service-block .inner-box {
            padding: 0px 0px;
      }
      .contact-section .map-info-box .image-column .image img {
            width: 100%;
            display: block;
      }
}

.service-block .inner-box .icon-box{
      position: relative;
      font-size: 70px;
      line-height: 1em;
      color: #fff;
      transition: all 1000ms ease;
      -moz-transition: all 1000ms ease;
      -webkit-transition: all 1000ms ease;
      -ms-transition: all 1000ms ease;
      -o-transition: all 1000ms ease;
}


.service-block .inner-box .icon-box:hover {
      transform: scale3d(1.2, 1.1, 0.3) translateX(10px) rotate(359deg) translateY(15px);
}

.service-block .inner-box h4 {
      position: relative;
      line-height: 1.3em;
      font-weight: 700;
      margin-top: 24px;
      margin-bottom: 15px;
      color: #fff;
      text-transform: uppercase;
}

.service-block .inner-box .text {
      position: relative;
      color: #ffffff;
      font-size: 16px;
      line-height: 1.8em;
      padding: 0px 50px;
}

@media only screen and (max-width: 1140px){
      .service-block .inner-box .text {
            padding: 0px;
      }
}

.service-block .inner-box .big-icon {
      position: absolute;
      right: 0px;
      bottom: 0px;
      font-size: 150px;
      line-height: 1em;
      color: #ffffff;
      opacity: 0.1;
}

/*========================*/
.service-block.style-two .inner-box h4 {
      color: #ff0000;
}

.service-block.style-two .inner-box .big-icon {
      color: #222222;
      opacity: 0.1;
}

.service-block.style-two .inner-box .text {
      color: #222222;
}

/*=====================*/
.service-block.style-three .inner-box .big-icon {
      color: #fff;
      opacity: 0.3;
}

/*--------------About section--------*/
.about-section {
      position: relative;
      padding-top: 125px;
}

.about-section .content-column {
      position: relative;
}

.about-section .content-column .inner-column {
      position: relative;
}

.about-section .content-column .section-title {
      position: relative;
      margin-bottom: 15px;
}

.section-title .title {
      position: relative;
      color: #555555;
      font-size: 18px;
      font-weight: 500;
      letter-spacing: 1px;
      text-transform: uppercase;
}

.section-title h2 {
      position: relative;
      color: #222222;
      font-weight: 700;
      line-height: 1.2em;
      margin-top: 15px;
      text-transform: uppercase;
}

.about-section .content-column .red-text {
      position: relative;
      color: #ff0000;
      font-size: 18px;
      line-height: 1.7em;
      font-weight: 700;
      margin-bottom: 20px
}

.about-section .content-column .text {
      position: relative;
      color: #555555;
      font-size: 16px;
      line-height: 1.8em;
      font-weight: 400;
      margin-bottom: 35px;
}

.featured-block {
      position: relative;
      margin-bottom: 40px;
}

.featured-block .block-inner {
      position: relative;
      padding-top: 4px;
      padding-left: 100px;

}

.featured-block .icon {
      position: absolute;
      left: 0px;
      top: 0px;
      color: #ff0000;
      opacity: .6;
      font-size: 60px;
      line-height: 1em;
      transition: all 1000ms ease;
      -ms-transition: all 1000ms ease;
      -o-transition: all 1000ms ease;
      -moz-transition: all 1000ms ease;
      -webkit-transition: all 1000ms ease;
}

.featured-block .icon:hover {
      transform: translateY(10px);
}

.featured-block strong {
      position: relative;
      color: #222222;
      font-size: 20px;
      font-weight: 700;
}

.featured-block .feature-text {
      position: relative;
      color: #555555;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.7em;
      margin-top: 3px;
}

.about-section .image-column {
      position: relative;
}

.about-section .image-column .inner-column {
      position: relative;
}

.about-section .image-column .inner-column .award {
      position: absolute;
      left: 0px;
      bottom: 120px;
}
/*--------------Membership section----------*/
.membership {
      position: relative;
      overflow: hidden;
      padding: 90px 0px 90px;
      background-color: #181a1f;
}

.membership .title {
      position: relative;
      color: #fff;
      font-size: 18px;
      font-weight: 500;
      letter-spacing: 1px;
      text-transform: uppercase;
}

.membership h2 {
      position: relative;
      color: #fff;
      font-weight: 700;
      line-height: 1.2em;
      margin-top: 15px;
      text-transform: uppercase;
}

.membership .content-column .red-text {
      position: relative;
      color: #ff0000;
      font-size: 18px;
      line-height: 1.7em;
      font-weight: 700;
      margin-bottom: 20px
}

.membership .content-column .text {
      position: relative;
      color: #fff;
      font-size: 16px;
      line-height: 1.8em;
      font-weight: 400;
      margin-bottom: 35px;
}

.member-btn a {
      color: #fff;
      border: 1px solid #fff;

}

.member-btn a:hover {
      color: #ff0000;
      border: 1px solid #ff0000;
      transition: .3s ease;
}

/*---------Testimonials Section------*/
 .testimonials-carousel {
      position: relative;
      overflow: hidden;
      padding: 130px 0px 190px;
}

.testimonial-block {
      position: relative;
}

.testimonial-block .inner-box {
      position: relative;
      padding-bottom: 50px;
}

.testimonial-block .inner-box .title {
      position: relative;
      color: #555555;
      font-size: 16px;
      line-height: 20px;
      font-weight: 400;
}

.testimonial-block .inner-box h4 {
      position: relative;
      color: #222222;
      line-height: 20px;
      margin-top: 15px;
      display: block;
      font-weight: 700;
}

.testimonial-block .inner-box .rating {
      position: relative;
      margin-top: 20px;
      margin-bottom: 15px;
      color: #ff0000;
}

.testimonial-block .inner-box .rating .fa {
      position: relative;
      font-size: 16px;
}

.testimonials-carousel .carousel-control-prev,
.testimonials-carousel .carousel-control-next {
    top: auto;
    left: auto;
    margin: 0px 15px 0px 15px;
    -webkit-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    transition: all 300ms ease;
}

.testimonials-carousel .carousel-indicators {
      position: relative;
      display: block;
      max-width: 100%;
      margin: 0px;
      height: 505px;
      background-position: right top;
}


.testimonials-carousel .carousel-indicators li {
      position: absolute;
      width: 270px;
      height: 300px;
      text-align: center;
      color: #202020;
      text-indent: 0 !important;
      border-radius: 0px;
      -webkit-transition: all 500ms ease;
      -ms-transition: all 500ms ease;
      -moz-transition: all 500ms ease;
      -o-transition: all 500ms ease;
      transition: all 500ms ease;
}


.testimonials-carousel .carousel-thumbnails .carousel-indicators li.active {
      z-index: 1;
}

.testimonials-carousel .carousel-indicators li:nth-child(1) {
      left: 0px;
      top: 110px;
}

.testimonials-carousel .carousel-indicators li:nth-child(2) {
      left: 190px;
      top: -20px;
}

.testimonials-carousel .carousel-indicators li:nth-child(3) {
    z-index: -1;
    left: 120px;
    bottom: -100px;
}

.testimonials-carousel .carousel-indicators li:nth-child(4) {
    left: 340px;
    bottom: 20px;

}
.testimonials-carousel .carousel-thumbnails .carousel-indicators li .image {
      position: relative;
      
}

/*--------Contact Section-------*/
.contact-section {
      position: relative;
      padding-top: 0px;
}

.contact-section iframe {
      position: relative;
      left: 0;
      top: 0;
      width: 100%;
      height: 500px;
}

.contact-section .map-info-box {
      position: relative;
      max-width: 800px;
      width: 100%;
      margin: 0 auto;
      z-index: 1;
      margin-top: -230px;
      background-color: #ffffff;
      box-shadow: 0px 0px 20px rgb(0 0 0 / 10%);
}

.contact-section .map-info-box .image-column {
      position: relative;
      padding: 0px;
      float: left;
}

.contact-section .map-info-box .info-column {
      position: relative;
      padding: 0px;
      float: left;
}

.contact-section .map-info-box .info-column .inner-column {
      position: relative;
      padding: 38px 50px;
}

.contact-section .map-info-box .info-column ul {
      position: relative;
      list-style: none;
}

.contact-section .map-info-box .info-column ul li {
      position: relative;
      color: #555555;
      font-size: 16px;
      font-weight: 400;
      padding-left: 80px;
      padding-bottom: 20px;
      margin-bottom: 20px;
      border-bottom: 1px solid #ebebeb;
}

.contact-section .map-info-box .info-column ul li .icon {
      position: absolute;
      left: 0px;
      top: 0px;
      color: #555;
      font-size: 54px;
      line-height: 1em;
      opacity: .9;
}

.contact-section .map-info-box .info-column ul li strong {
      position: relative;
      color: #ff0000;
      font-size: 18px;
      font-weight: 600;
      display: block;
      margin-bottom: 8px;
}

.contact-section .map-info-box .info-column ul li a {
      position: relative;
      color: #555555;
      font-size: 16px;
      font-weight: 400;
}

.contact-form-section {
      position: relative;
      padding-top: 95px;
      padding-bottom: 30px;
}

.contact-form-section .title-column {
      position: relative;
      margin-bottom: 40px;
}

.contact-form-section .title-column .section-title {
      margin-bottom: 20px;
}

.contact-form-section .form-column {
      position: relative;
      margin-bottom: 40px
}

.form {
      position: relative;
      max-width: 970px;
      margin: 0 auto;
}

.form .form-group input,
.form .form-group textarea {
      background-color: #f5f5f5;
}

.form .form-group input[type="text"],
.form .form-group input[type="email"] {
      position: relative;
      display: block;
      width: 100%;
      line-height: 28px;
      padding: 10px 25px;
      color: #222222;
      height: 60px;
      font-size: 14px;
      background: none;
      font-weight: 400;
      border-radius: 0px;
      border: 1px solid #dddddd;
}

.form .form-group textarea {
      position: relative;
      display: block;
      width: 100%;
      line-height: 22px;
      padding: 15px 25px;
      color: #222222;
      height: 150px;
      resize: none;
      font-size: 14px;
      background: none;
      font-weight: 500;
      border-radius: 0px;
      border: 1px solid #dddddd;
}

.send-message-btn {
      padding-left: 7px;
      padding-bottom: 3px;
      padding-right: 3px;
      padding-top: 6px;
      display: inline-block;
}

.send-message-btn button {
      font-size: 14px;
      position: relative;
      border: 2px solid #dddddd;
      color: #222;
      margin: 13% auto;
      height: 60px;
      width: 200px;
      cursor: pointer;
      background: none;
}

.send-message-btn button:hover {
      border: 2px solid #ff0000;
      background: #ff0000;
      color: #fff;
}

/*-------SweetAlert Buttons-------*/
.swal-button {
      padding: 7px 19px;
      border-radius: 0 !important;
      background-color: #ff0000;
      font-size: 12px;
      text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
      border: none !important;
}

.swal-button:hover {
      border: none;
      background-color: yellow !important;
}

.swal-modal {
      background-color: rgba(0,0,0,0.8);
}

.swal-icon--success__hide-corners {
      background: none !important;
}

.swal-icon--success:before,
.swal-icon--success:after {
      background: none !important;
}

.swal-title {
      color: #fff;
}

.swal-text {
      color: #fff;
}

/*------------footer-----------*/
.main-footer {
      background: url('/static/footer-bg.jpeg');
      position: relative;
      background-position: left center;
      background-repeat: no-repeat;
      background-size: cover;
}

.main-footer:before {
      position: absolute;
      content: '';
      left: 0px;
      top: 0px;
      right: 0px;
      bottom: 0px;
      background-color: rgba(34,34,34,0.50);
}

.main-footer .footer-widgets {
      position: relative;
      padding: 95px 0px 60px;
}

.main-footer .footer-column {
      position: relative;
}

.main-footer .footer-widget {
      margin-bottom: 30px;
}

.main-footer .logo-widget {
      position: relative;
}

.main-footer .logo-widget .logo {
      position: relative;
      margin-bottom: 30px;
}

.main-footer .logo-widget .text {
      position: relative;
      color: #ffffff;
      font-size: 15px;
      line-height: 1.7em;
      font-weight: 400;
      margin-bottom: 25px;
}

.main-footer .logo-widget .logo-widget {
      position: relative;
}

.main-footer .logo-widget .social-links span {
      position: relative;
      display: block;
      color: #ffffff;
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 10px;
}

.main-footer .logo-widget .social-links a {
      position: relative;
      color: #ffffff;
      opacity: 0.8;
      font-size: 16px;
      margin-right: 15px;
      transition: all 300ms ease;
      display: inline-block;
}

.main-footer .footer-widget h4 {
      position: relative;
      font-weight: 600;
      color: #ffffff;
      line-height: 1.2em;
      margin-bottom: 35px;
      padding-bottom: 20px;
      text-transform: capitalize;
}

.main-footer .footer-widget h4:before {
      position: absolute;
      content: '';
      left: 0px;
      bottom: 0px;
      height: 1px;
      width: 30px;
      background-color: #ffffff;
}

.main-footer .list-link {
      position: relative;
      padding: 0;
}

.main-footer .list-link li {
      position: relative;
      margin-bottom: 12px;
      list-style: none;
}

.main-footer .list-link li a {
      position: relative;
      color: #ffffff;
      font-size: 14px;
      padding-left: 20px;
      transition: all 300ms ease;
}

.main-footer .list-link li a:hover {
      color: #ff0000;
}

.main-footer .list-link li a i {
      padding-right: 10px;
}

.main-footer .timing-widget ul li {
      position: relative;
      color: #ffffff;
      font-size: 18px;
      font-weight: 600;
      line-height: 1.6em;
      margin-bottom: 28px;
      list-style: none;
}

.main-footer .timing-widget ul li span {
      position: relative;
      display: block;
      margin-top: 7px;
      font-weight: 400;
}

.main-footer .footer-bottom {
      position: relative;
      padding: 20px 0px;
      border-top: 1px solid rgba(255,255,255,0.15);
}

.main-footer .footer-bottom .copyright {
      position: relative;
      color: #ffffff;
      font-size: 15px;
      text-align: center;
}

.social-links i:hover {
      color: #ff0000;
}


/*===============Products======================*/
.p-img img {
      width: 100%;
      top: 0;
      left: 0;
}

a.category-badge {
      color: #000;
}

span.badge:hover {
      color: #ff0000;
}

.product-category a {
      text-decoration: none;
      color: #000;
}

.product-category a:hover {
      color: #ff0000;
}

.btn-outline-red {
      color: #ff0000 !important;
      border: 1px solid #ff0000 !important;
}

.btn-red {
      background: #ff0000;
      color: #fff;
}

.btn-black {
      background: #000;
      color: #fff !important;
}

.increment-qty {
      border: none;
      background: none;
      color: #ff0000;
      margin-left: 10px;
}

.decrement-qty {
      border: none;
      background: none;
      color: #ff0000;
      margin-right: 10px; 
}

.p-long-des {
      padding-top: 10px;
      padding-bottom: 50px;
      line-height: 2rem;
}

/*=================Bag=====================*/
.table a {
      text-decoration: none;
}

.text-red{
      color: #ff0000;
}

.remove-item:hover {
      color: #ff0000;
      border-bottom: #ff0000 1px solid;
}

/*=================Bootstrap toasts================ */

.message-container {
      position: absolute;
      top: 72px;
      right: 15px;
      z-index: 99999999999;
}
  
.custom-toast {
      overflow: visible;
}
  
.toast-capper {
      height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
      width: 0; 
      height: 0; 
      border-left: 4px solid transparent;
      border-right: 4px solid transparent; 
      border-bottom: 10px solid black;
      position: absolute;
      top: -10px;
      right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
      border-bottom-color: #007bff !important;
}

.arrow-secondary {
      border-bottom-color: #6c757d !important;
}

.arrow-success {
      border-bottom-color: #28a745 !important;
}

.arrow-danger {
      border-bottom-color: #dc3545 !important;
}

.arrow-warning {
      border-bottom-color: #ffc107 !important;
}

.arrow-info {
      border-bottom-color: #17a2b8 !important;
}

.arrow-light {
      border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
      border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
      height: 100px;
      overflow-x: hidden;
      overflow-y: auto;
}

/* Allauth form formatting */

.allauth-form-inner-content p {
      margin-top: 1.5rem; /* mt-4 */
      color: #6c757d; /* text-secondary */
}
  
.allauth-form-inner-content input {
      border-color: #000;
      border-radius: 0;
}
  
.allauth-form-inner-content label:not([for='id_remember']) {
      display: none;
}
  
.allauth-form-inner-content input::placeholder {
      color: #aab7c4;
}
  
.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
      /* btn */
      display: inline-block;
      font-weight: 400;
      color: #fff;
      text-align: center;
      vertical-align: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      background-color: #000;
      border: 1px solid #000;
      padding: .375rem .75rem;
      font-size: 1rem;
      line-height: 1.5;
      border-radius: 0;
  
      /* standard bootstrap btn transitions */
      transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
  
.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
      color: #fff;
      background-color: #222;
      border-color: #222;
}
  
.allauth-form-inner-content a {
      color: #ff0000
}

/* Product Form */

.btn-file {
      position: relative;
      overflow: hidden;
}
  
.btn-file input[type="file"] {
      position: absolute;
      top: 0;
      right: 0;
      min-width: 100%;
      min-height: 100%;
      opacity: 0;
      cursor: pointer;
}
  
.custom-checkbox .custom-control-label::before {
      border-radius: 0;
      border-color: #ff0000;
}
  
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
      background-color: #ff0000;
      border-color: #ff0000;
      border-radius: 0;
}

/*====================ABOUT PAGE=====================*/
.text-caption {
      margin-top: -100px;
      padding-left: 50px;
}

.text-caption h2 {
      color: #fff;
}

.text-caption p {
      color: #fff;
}

.about-service-sec {
      position: relative;
      padding-top: 80px;
      padding-bottom: 100px;
}

.about-service-sec .image-layer {
      background: url('/static/about-service-sec.jpeg');
      position: absolute;
      left: 0px;
      top: -100px;
      width: 100%;
      height: 1000px;
      background-color: #242625;
      background-position: right top;
      background-repeat: no-repeat;
      clip-path: polygon(0 15%, 100% 0, 100% 58%, 0 77%);
}

.about-service-sec .image-layer::before {
      position: absolute;
      content: '';
      left: 0px;
      top: -84px;
      width: 100%;
      height: 255px;
      background: url('/static/curve-layer.png') left top no-repeat;
}

.about-service-block {
      position: relative;
}

.about-service-block .inner-box {
      text-align: center;
}

.about-service-block .inner-box .icon.box {
      margin-bottom: 25px;
}

.about-service-block span i {
      font-size: 70px;
      line-height: 1em;
      color: #ffffff;
}

.about-service-block .inner-box .title {
      color: #ff0000;
      font-size: 16px;
      font-weight: 700;
      padding-top: 20px;  
}

.about-service-block .inner-box h4 {
      color: #fff;
      text-transform: uppercase;
      padding-top: 10px;
}

.about-service-block .inner-box .text {
      color: #fff;
      padding-top: 20px;
}
  
.service-box {
      float: left;
      width: 100%;
}

.service-box img {
      float: left;
      width: 100%;
}

.service-box .content {
      float: left;
      width: 100%;
      background: #ff0000;
      position: relative;
      min-height: 170px;
}

.service-box .content .price {
      float: left;
      width: 100%;
      font-size: 22px;
      font-weight: normal;
      line-height: 2;
      text-transform: uppercase;
      color: #FFFFFF;
      padding: 20px 0 0 0;
}

.service-box .content .site-link {
      text-decoration: none;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 25px;
      display: block;
      margin: 0 auto;
}

.service-box .content a i {
      display: inline-block;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 6px;
      font-size: 26px;
      transition: 400ms ease;
      transition-property: color, left;
      margin: 0 auto;
      color: #fff;
}

.service-box .content h3 a{
      color: #fff;
      text-decoration: none;
}

.motivation-section {
      margin-top: 100px;
}

.motivation-section h1 {
      text-transform: uppercase;
      font-size: 60px;
}

.motivation-section h1 span {
      color: #ff0000;
      font-weight: 800;
}

.motivation-section p {
      color: #555;
      padding-top: 20px;
}

.motivation-section .motivation-icon .motivation-img img{
      height: 80px;
      width: 80px;
}

.motivation-section .motivation-icon .icon-caption {
      text-transform: uppercase;
}

.motivation-section .motivation-icon .icon-caption span {
      color: #ff0000;
}

.trainer-section {
      overflow: hidden;
      padding: 90px 0 90px;
      background: url('/static/trainer-bg.jpg') top center;
      background-attachment: fixed;
      background-size: cover;
}

.trainer-section h2 {
      font-weight: 700;
      font-size: 50px;
      text-transform: uppercase;
      letter-spacing: .3rem;
      margin-top: 15px;
      color: #ff0000;
      padding-bottom: 50px;
}

.team-block .inner-box .content {
      position: absolute;
      left: 0px;
      bottom: 22px;
      padding: 15px 30px;
      display: inline-block;
      background-color: #ffffff;
      box-shadow: 0px 0px 15px rgb(0 0 0 / 12%)
}

.team-block .inner-box .content::before {
      position: absolute;
      content: '';
      left: -2px;
      top: 8px;
      bottom: 8px;
      width: 2px;
}

.team-block .inner-box .content .title {
      position: relative;
      color: #555555;
      font-size: 14px;
      font-weight: 400;
      margin-bottom: 5px;
}

.team-block .inner-box .content .name {
      position: relative;
      color: #222222;
      font-size: 20px;
      font-weight: 700;
      text-transform: uppercase;
}

.team-block .inner-box .content .team-social {
      width: 100%;
      display: block;
      clear: both;
      margin-top: 10px;
}

.team-block .inner-box .content .team-social a {
      display: inline-block;
      color: #ff0000;
      position: relative;
      padding-left: 10px;
      z-index: 1;
}

.team-block .inner-box .content .team-social a:hover {
      transform: scale(1.2)
}

.benefit-section {
      position: relative;
      margin-top: 125px;
      margin-bottom: 100px;
}

.benefit-section .side-image {
      background: url('/static/benefit-5.png');
      position: absolute;
      left: 0px;
      bottom: -70px;
      width: 300px;
      height: 181px;
      background-repeat: no-repeat;
      --animate-duration: 7s;
}

.benefit-section .content-column {
      position: relative;
      margin-bottom: 40px;
}

.benefit-section .content-column .section-title {
      color: #555;
      font-size: 18px;
      font-weight: 500;
      letter-spacing: 1px;
      text-transform: uppercase;
}

.benefit-section .content-column h2 {
      color: #222;
      font-weight: 700;
      line-height: 1.2em;
      margin-top: 15px;
      text-transform: uppercase;
}

.benefit-section .content-column .benefit-block {
      position: relative;
      margin-bottom: 40px;
      padding-top: 30px;
}

.benefit-section .content-column .benefit-block .block-inner {
      position: relative;
      padding-top: 0px;
      padding-left: 100px;
}

.benefit-section .content-column .benefit-block .block-inner img {
      position: absolute;
      left: 0;
      top: 0;
      height: 80px;
      width: 80px;
}

.benefit-section .content-column .benefit-block .block-inner strong {
      position: relative;
      color: #222;
      font-size: 24px;
      font-weight: 600;
}

.benefit-section .content-column .benefit-block .block-inner .benefit-text {
      position: relative;
      color: #555;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.7em;
      margin-top: 3px;
}

.benefit-section .images-column {
      position: relative;
      margin-bottom: 40px;
}

.benefit-section .images-column .inner-column {
      position: relative;
      padding-top: 110px;
      padding-left: 70px;
      padding-bottom: 55px;
}

.benefit-section .images-column .image-two {
      position: absolute;
      left: 0px;
      top: 250px;
}

.benefit-section .images-column .image-three {
      position: absolute;
      right: 80px;
      top: 50px;
      box-shadow: 0px 0px 20px rgb(0 0 0 / 15%);
}

.benefit-section .images-column .image-four {
      position: absolute;
      right: 0px;
      bottom: 0px;
      box-shadow: 0px 0px 20px rgb(0 0 0 / 15%);
}

.elementor-section h2 {
      color: #222;
      font-weight: 700;
      line-height: 1.2em;
      margin-top: 15px;
      text-transform: uppercase;
}

.elementor-section p {
      color: #555;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.7em;
      margin-top: 3px;
}

/*================Subcribe Page================*/
.subscribe-section {
      background: #161514;
      padding: 40px 0;
      border-bottom: 1px solid #ff0000;
      padding-bottom: 250px;
}

.subscribe-section h2 {
      color: #fff;
      text-transform: uppercase;
      letter-spacing: .3rem;
      margin-top: 50px;
}

.subscribe-section h2 span {
      color: #ff0000;
      text-transform: uppercase;
      font-size: 40px;
}

.subscribe-section p {
      color: #fff;
      padding: 20px 0;
}

.subscribe-btn {
      border-radius: 0;
      background: #ff0000;
      color: #fff;
      width: 200px;
      margin-top: 40px;
}

.subscribe span {
      margin-top: -100px;
}
.subscribe-link a {
      text-decoration: none;
      color: #555;
}

/*================Blog page===================*/
.blog-section {
      margin-top: 200px;
}

.blog-section .card-body {
      margin: 20px 0;
      padding: 0;
}

.blog-section .card-body a {
      text-decoration: none;
      color: #ff0000;
}

.blog-section .card-body a:hover {
      border-bottom: #ff0000 1px solid;
}

.blog-details-image img{
      max-height: 600px;
      width: 100vw;
}

.blog-details-section {
    width: 80%;
    height: auto;
    background-color: #fff;
    box-shadow: 2px 2px 12px rgba(0,0,0,.2);
    margin: -10% auto 20px auto;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 30px;
}

.blog-details-section h2 {
      text-transform: uppercase;
      padding-top: 30px;     
}

.comment-section {
      margin-top: 50px;
}

.back-btn a {
      text-decoration: none;
      color: #ff0000;
      text-transform: uppercase;
      padding: 10px;
}

.back-btn a i {
      padding-right: 10px;
}


/*=================Media queries===================*/

@media (min-width: 1200px) {
      .image-column .membership-image {
            width: 75%;
      }
} 

@media only screen and (max-width: 1023px) {
      .about-service-sec .image-layer {
            clip-path: none;
            top: 50px  
      }
      .about-service-sec .image-layer::before {
            background: none;
      }
      .benefit-section .images-column .inner-column {
            padding-left: 160px;
      }
      .benefit-section .side-image {
            display: none;
      }
}

/* fixed top navbar only on medium and up */
@media only screen and (min-width: 992px) {
      .fixed-top-desktop-only {
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            z-index: 9999;
      }
      .navbar-brand h2 span{
            font-size: 50px;
            color: #ff0000;
      }
      
      .navbar-brand h2 {
            font-weight: 700;
            font-size: 40px;
            color: #fff;
      }
}

@media only screen and (max-width: 991px) {
      .header-bg-black-mobil {
            background: #000;
      }
      .services-section::before,
      .service-block.style-three::before {
            width: 100%;
      }
      .service-block.style-two .inner-box .big-icon,
      .service-block.style-two .inner-box .text {
            color: #fff;
      }
      .services-section:after {
            background-color: #181a1f;
      }
}

@media only screen and (max-width: 767px) {
      .carousel-caption {
            top: 40%;
      }
      
      .bg-custom h1 {
            font-size: 16px;
      }
      
      .bg-custom h2 {
            font-size: 30px;
            font-weight: 500;
      }
      .bg-custom p {
            font-size: 20px;
      }
      .gym-para {
            font-size: 15px;
      }
      .increment-qty {
            margin-left: 0;
            padding: 2px;
      }
      
      .decrement-qty {
            margin-right: 0;
            padding: 2px;
      }
      .about-section .image-column .inner-column .award {
            bottom: 0;
            width: 100px;
      }
      .benefit-section {
            margin-bottom: 0;
      }
}

@media only screen and (max-width: 599px) {
      .carousel-caption {
            top: 30%;
      }
      .bg-custom h1 {
            font-size: 16px;
      }
      .bg-custom h2 {
            font-size: 15px;
      }
      .bg-custom p {
            font-size: 12px;
      }
      .gym-para {
            font-size: 13px;
      }
      .testimonials-carousel {
            padding-bottom: 90px;
      }
      .testimonials-carousel .carousel-indicators {
            height: auto;
      }
      .testimonials-carousel .carousel-indicators li {
            position: relative;
            width: 100%;
            height: auto;
            margin-bottom: 30px;
            left: auto;
            top: auto;
      }
      .testimonials-carousel .carousel-indicators li:nth-child(1) {
            top: auto
      }
      .testimonials-carousel .carousel-indicators li:nth-child(2) {
            left: 0px;
            top: 0px;
      }
      .testimonials-carousel .carousel-indicators li:nth-child(3) {
            left: 0px;
            bottom: 0px;
      }
      .testimonials-carousel .carousel-indicators li:nth-child(4) {
            left: 0px;
            bottom: 0px;
      }
      .contact-section .map-info-box .info-column ul {
            padding: 0;
      }
      .contact-section .map-info-box .info-column .inner-column {
            padding: 20px 10px;
      }
      .contact-section .map-info-box .info-column ul li .icon {
            font-size: 34px;
      }
      .contact-section .map-info-box .info-column ul li {
            padding-left: 50px;
      }
      .contact-section .map-info-box .info-column ul li a {
            font-size: 13px;
      }
}


@media only screen and (max-width: 450px){
      .update-link,
      .remove-item {
            font-size: 9px;
            display: contents;
            padding: 5px;
      }
      .nav-link {
            padding: 0.15rem !important;
      }
      .nav-link i {
            font-size: 12px !important;
      }
      .navbar-toggler {
            padding: .6rem .6rem !important;
            font-size: 1rem !important;
      }
      .navbar {
            padding: 0 !important;
      }

}
@media only screen and (max-width: 399px) {
      .gym-para {
            font-size: 10px;
      }
      .contact-section .map-info-box .info-column ul {
            padding: 0;
      }
      .contact-section .map-info-box .info-column .inner-column {
            padding: 10px 10px;
      }
      .contact-section .map-info-box .info-column ul li .icon {
            font-size: 24px;
      }
      .contact-section .map-info-box .info-column ul li {
            padding-left: 30px;
            font-size: 13px;
      }
      .contact-section .map-info-box .info-column ul li a {
            font-size: 13px;
      }
      .text-caption {
            padding-left: 30px;
      }
      
}

@media only screen and (max-width: 359px) {
      .carousel-caption {
            display: none;
      }
}

@media screen and (max-width: 347px) {
      .checkout-btn {
            margin-top: 10px;
      }
}
