html {
      height: 100%;
}

body {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      overflow-x: hidden;
      
}
/*========Base======*/
#topbar {
      color: #fff;
      font-size: 12px;
}

.right-icons a {
      text-decoration: none;
      color: #fff;
}

.right-icons a:hover {
      color: #ff0000;
}

.right-icons i{
      color: #ff0000;
}

#topbar span {
      color: #ff0000;
      font-weight: 900;
}
/*==========*/
.search i {
      color: #ff0000;
}

.search p {
      color: #fff;
      font-size: 12px;
}

.navbar-icons a{
      color: #fff;
      font-size: 12px;
}

.navbar-icons a:hover {
      color: #ff0000;
}

.left-icons-mobil {
      color: #fff;
      font-size: 11px;
      padding-top: 5px;
}

.left-icons-mobil i {
      color: #ff0000;
}

.left-icons-mobil a {
      color: #fff;
}

.left-icons-mobil a:hover {
      color: #ff0000;
}

.left-icons-mobil span {
      color: #ff0000;
      font-size: 12px;
}

.navbar-brand h2 span{
      font-size: 20px;
      color: #ff0000;
}

.navbar-brand h2 {
      font-weight: 700;
      font-size: 16px;
      color: #fff;
}

.nav-item {
      padding: 0 10px;
}

.nav-item a {
      color: #fff;
}

.nav-item a:hover,
.navitem a:focus {
      color: #ff0000;
}

.dropdown-menu {
      background: #000;
      border: 1px solid rgb(27, 27, 27);
      border-radius: 8px;
}

.navbar-toggler-icon i {
      color: #fff;
      font-size: 23px;
}

.bg-black {
      background: #000;
}
/*===================HOME==================*/

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
      transition: transform 1.2s ease;
}
.carousel-caption {
      position: absolute;
      top: 54%;
      transform: translateY(-50%);
}

.bg-custom h1 {
      font-size: 16px;
      text-transform: uppercase;
      letter-spacing: .3rem; 
}

.bg-custom h2 {
      font-size: 50px;
      font-weight: 500;
}

.bg-custom p {
      font-size: 20px;
      letter-spacing: .3rem;
}  

.btn-lg {
      background: none;
      border: 1px solid #fff;
      border-radius: 0;
      color: #fff;
      font-size: 12px;
}


/*===============Products======================*/
.p-img img {
      width: 100%;
      top: 0;
      left: 0;
}


/*=================Media queries===================*/

/* @media (min-width: 1200px) {
      .container {
        max-width: 80%;
      }
    } */
    
    /* fixed top navbar only on medium and up */
@media (min-width: 992px) {
      .fixed-top-desktop-only {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      z-index: 1030;
      }
      /* .header-container {
      padding-top: 164px;
      } */
      .navbar-brand h2 span{
            font-size: 50px;
            color: #ff0000;
      }
      
      .navbar-brand h2 {
            font-weight: 700;
            font-size: 40px;
            color: #fff;
      }
}

@media (max-width: 992px) {
      .header-bg-black-mobil {
            background: #000;
      }
}

@media (max-width: 768px) {
      .carousel-caption {
            top: 40%;
      }
      
      .bg-custom h1 {
            font-size: 16px;
      }
      
      .bg-custom h2 {
            font-size: 30px;
            font-weight: 500;
      }
      .bg-custom p {
            font-size: 20px;
      }  
}

@media (max-width: 599px) {
      .carousel-caption {
            top: 30%;
      }
      
      .bg-custom h1 {
            font-size: 16px;
      }
      
      .bg-custom h2,span {
            font-size: 15px;
      }
      .bg-custom p {
            font-size: 12px;
      }
}

@media (max-width: 359px) {
      .carousel-caption {
            display: none;
      }
}