<div class="auto-container">
      <!--footer-widgets-->
      <div class="footer-widgets">
            <div class="row clearfix">
                  <!--widget-column-->
                  <div class="widget-column col-lg-6 col-md-12 col-sm-12">
                        <div class="row clearfix">
                              <div class="footer-column col-12">
                                    <div class="footer-widget logo-widget">
                                          <div class="logo">
                                                <a class="navbar-brand" href="{% url 'home' %}"><h2><span>X</span>treme FC</h2></a>
                                          </div>
                                          <div class="text">
                                                You will find the very best in health, fitness and leisure professionals at Xtreme FC.
                                                Our team are friendly, approachable and eager to help you with your health and fitness goals.
                                          </div>
                                          <div class="social-links">
                                                <span>Follow on Socials</span>
                                                <a href="http://www.facebook.com" target="_blank" rel="noopener"><i class="fab fa-facebook" aria-hidden="true"></i>
                                                      <span class="sr-only">Facebook</span>
                                                </a>
                                                <a href="http://www.instagram.com" target="_blank" rel="noopener"><i class="fab fa-instagram" aria-hidden="true"></i>
                                                      <span class="sr-only">Instagram</span>
                                                </a>
                                                <a href="http://www.youtube.com" target="_blank" rel="noopener"><i class="fab fa-youtube" aria-hidden="true"></i>
                                                      <span class="sr-only">YouTube</span>
                                                </a>
                                                <a href="http://www.twitter.com" target="_blank" rel="noopener"><i class="fab fa-twitter" aria-hidden="true"></i>
                                                      <span class="sr-only">Twitter</span>
                                                </a>
                                          </div>
                                    </div>
                              </div>
                        </div>
                  </div>
                  <div class="widget-column col-lg-6 col-md-12 col-sm-12">
                        <div class="row clerafix">
                              <div class="footer-column col-lg-6 col-md-6 col-sm-6 text-center">
                                    <div class="footer-widget links-widget">
                                          <h4>Our Services</h4>
                                          <ul class="list-link">
                                                <li>
                                                      <a class="dropdown-item" href="{% url 'products' %}?category=back_attack"><i class="fas fa-angle-double-right"></i>Back Attack</a>
                                                </li>
                                                <li>
                                                      <a class="dropdown-item" href="{% url 'products' %}?category=boulder_shoulders"><i class="fas fa-angle-double-right"></i>Boulder Shoulders</a>
                                                </li>
                                                <li>
                                                      <a class="dropdown-item" href="{% url 'products' %}?category=hard_ass_hamstrings"><i class="fas fa-angle-double-right"></i>Hard-Ass Hamstrings</a>
                                                </li>
                                                <li>
                                                      <a class="dropdown-item" href="{% url 'products' %}?category=precision_pecs"><i class="fas fa-angle-double-right"></i>Precision Pecs</a>
                                                </li>
                                                <li>
                                                      <a class="dropdown-item" href="{% url 'products' %}?category=quadzilla"><i class="fas fa-angle-double-right"></i>Quadzilla</a>
                                                </li>
                                                <li>
                                                      <a class="dropdown-item" href="{% url 'products' %}?category=ultimate_core"><i class="fas fa-angle-double-right"></i>Ultimate Arms</a>
                                                </li>
                                          </ul>
                                    </div>
                              </div>
                              <div class="footer-column col-lg-6 col-md-6 col-sm-6">
                                    <div class="footer-widget timing-widget">
                                          <h4>Working Hours</h4>
                                          <ul>
                                                <li>Monday - Sunday
                                                      <span>06:00 - 23:00</span>
                                                </li>
                                                <li>Bank Holiday
                                                      <span>08:00 - 20:00</span>
                                                </li>
                                          </ul>
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
      <!--footer-bottom-->
      <div class="footer-bottom">
            <div class="copyright left-icons-mobil">
                  Copyright&copy;<script>document.write(new Date().getFullYear());</script>
                  <a href="{% url 'home' %}"><span>X</span>treme Fitness Club</a>    
            </div>
      </div>
</div>