
<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <a class="navbar-brand" href="{% url 'home' %}"><h2><span>X</span>treme Fitness Club |</h2></a>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Training Plans
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Back Attack</a>
            <a class="dropdown-item" href="#">Boulder Shoulders</a>
            <a class="dropdown-item" href="#">Hard-Ass Hamstrings</a>
            <a class="dropdown-item" href="#">Precision Pecs</a>
            <a class="dropdown-item" href="#">Quadzilla</a>
            <a class="dropdown-item" href="#">Ultimate Arms</a>
            <a class="dropdown-item" href="#">All Trainings</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Shop
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Apparel</a>
            <a class="dropdown-item" href="#">Accessories</a>
            <a class="dropdown-item" href="#">Nutrition Products</a>
            <a class="dropdown-item" href="#">All Trainings</a>
          </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Contact Us</a>
        </li>
        
      </ul>
      
</div>

