{% extends "base.html" %}
{% load static %}

{% block content %}
      <!--Start Header Image Section-->
      <div class="about-image">
            <div><img class="img-fluid" src="{% static 'about-4.jpg' %}" alt="fitness girl"></div>
            <div class="text-caption">
                  <h2 class="animate__animated animate__fadeInRight animate__delay-0.5s"></h2>
                  <p class="animate__animated animate__fadeInRight animate__delay-1s">Warm Up And Get Ready To Move</p>
            </div>
      </div>
      <!--End Header Image Section-->
      <section class="blog-section">
            <div class="auto-container">
                  <div class="row clearfix">
                        {% for post in posts %}
                        <div class="col-lg-3">
                              <div class="card" style="width: 18rem;">
                                    <img src="{{ post.image_url }}" alt="{{ post.title }}" class="card-img-top">
                                    <div class="card-body">
                                          <h5 class="card-title">{{ post.title}}</h5>
                                          <p class="card-text">{{ post.intro }}</p>

                                          <a href="#" class="btn btn-primary">Go somewhere</a>
                                          <div class="card-footer text-muted">
                                                {{ post_date_added }}
                                              </div>
                                    </div>
                              </div>
                        </div>
                        {% endfor %}
                  </div>
            </div>
      </section>

      

{% endblock %}