{% extends "base.html" %}
{% load static %}

{% block content %}
      <!--Start Header Image Section-->
      <div class="about-image">
            <div><img class="img-fluid" src="{% static 'about-4.jpg' %}" alt="fitness girl"></div>
            <div class="text-caption">
                  <h2 class="animate__animated animate__fadeInRight animate__delay-0.5s"></h2>
                  <p class="animate__animated animate__fadeInRight animate__delay-1s">Warm Up And Get Ready To Move</p>
            </div>
      </div>
      <!--End Header Image Section-->
      <!--Start Blog Section-->
      <section class="blog-section mb-5">
            <div class="auto-container">
                  <div class="row clearfix">
                        {% for post in posts %}
                        <div class="col-lg-3">
                              <div class="card border-0" >
                                    <img src="{{ post.image_url }}" alt="{{ post.title }}" class="card-img-top">
                                    <div class="card-body">
                                          <div class="text-muted">
                                                <small>{{ post.date_added }}</small>
                                          </div>
                                          <h5 class="card-title">{{ post.title}}</h5>
                                          <p class="card-text">{{ post.intro }}</p>
                                          <a href="{% url 'blog_details' post.slug %}">Read More<i class="fas fa-long-arrow-alt-right ml-2"></i></a>
                                          
                                    </div>
                              </div>
                        </div>
                        {% endfor %}
                  </div>
            </div>
      </section>
      <!--Start Blog Section-->
      <!--Subcribe Section-->
      <div class="container">
            <div class="row subscribe mt-5 mb-3">
                  <div class="col-10 offset-1 text-center">
                        <span class="subscribe-link"><a href="{% url 'add_subscribe' %}">
                              Get subscribe to recieve
                              News and Discounts <i class="fas fa-long-arrow-alt-right"></i></a></span>
                  </div>
            </div>
      </div> 

{% endblock %}