{% extends "base.html" %}
{% load static %}

{% block content %}
      <!--Start Header Image Section-->
      <div class="about-image">
            <div><img class="img-fluid" src="{% static 'about-4.jpg' %}" alt="fitness girl"></div>
            <div class="text-caption">
                  <h2 class="animate__animated animate__fadeInRight animate__delay-0.5s"></h2>
                  <p class="animate__animated animate__fadeInRight animate__delay-1s">Warm Up And Get Ready To Move</p>
            </div>
      </div>
      <!--End Header Image Section-->

      

{% endblock %}