{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
      {% block meta %}
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <meta name="Description" content="Xtreme Fitness - Everything your body needs" />
      {% endblock %}

      {% block extra_meta %}
      {% endblock %}

      {% block corecss%}
      <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="{% static 'css/base.css' %}">
      {% endblock %}

      {% block extra_css %}
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
      {% endblock %}

      {% block corejs%}
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
      {% endblock %}

      {% block extra_js %}
      {% endblock %}

      <title>Xtreme Fitness {% block extra_title %}{% endblock %}</title>
</head>

<body>
      <header class="container-fluid  header-bg-black-mobil">
            <div id="topbar" class="row pt-lg-2 d-none d-lg-flex">
                  <div class="col-8 my-auto left-icons">
                        <i class="fas fa-location-arrow pr-2 pl-2"></i>27 DivisionSt, New York, USA |
                        <i class="fas fa-phone-alt pr-2 pl-2"></i><a href="tel:+1044123456789"> +1(044)123 456 789 |</a>
                        <i class="far fa-clock pr-2 pl-2"></i>Mon-Sun: 6AM - 11PM |  
                  </div>
                  <div class="col-12 col-lg-4 my-auto ml-auto py-1 py-lg-0">
                        <ul class="list-inline list-unstyled text-center text-lg-right my-0">
                              <li class="list-inline-item dropdown">
                                    <a class="text-black nav-link" href="#" id="user-options"
                                          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                          <div class="text-center">
                                                <div><i class="fas fa-user"></i></div>
                                                <p class="my-0">My Account</p>
                                          </div>
                                    </a>
                                    <div class="dropdown-menu border-0" aria-labelledby="user-options">
                                          {% if request.user.is_authenticated %}
                                          {% if request.user.is_superuser %}
                                          <a href="" class="dropdown-item">Product Management</a>
                                          {% endif %}
                                          <a href="" class="dropdown-item">My Profile</a>
                                          <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                                          {% else %}
                                          <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                                          <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                                          {% endif %}
                                    </div>
                              </li>
                              <li class="list-inline-item">
                                    <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link"
                                          href="">
                                          <div class="text-center">
                                                <div><i class="fas fa-shopping-bag"></i></div>
                                                <p class="my-0">
                                                      {% if grand_total %}
                                                      € grand_total|floatformat:2 }}
                                                      {% else %}
                                                      €0.00
                                                      {% endif %}
                                                </p>
                                          </div>
                                    </a>
                              </li>
                        </ul>
                  </div> 
            </div>

            <div class="row">
                  <div class="col-12 left-icons-mobil text-center d-block d-lg-none">
                        <p>Welcome to <span>X</span>treme Fitness</p>
                        <i class="fas fa-location-arrow pr-2 pl-2"></i>27 DivisionSt, New York, USA |
                        <i class="fas fa-phone-alt pr-2 pl-2"></i><a href="tel:+1044123456789"> +1(044)123 456 789 |</a>
                        <i class="far fa-clock pr-2 pl-2"></i>Mon-Sun: 6AM - 11PM |  
                  </div>
                  <nav class="navbar navbar-expand-lg w-100">
                        
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon">
                              <i class="fas fa-bars"></i>
                          </span>
                        </button>

                  

                        {% include 'includes/mobile-top-header.html' %}
                        {% include 'includes/main-nav.html' %}
                  </nav>
            </div>
      </header>

      {% if messages %}
      <div class="message-container"></div>
      {% endif %}


      {% block page_header %}
      {% endblock %}

      {% block content %}
      {% endblock %}

      {% block postloadjs %}
      {% endblock %}








      
</body>

</html>