{% extends "base.html" %}
{% load static %}

{% block content %}
      <!--Start Header Image Section-->
      <div class="about-image">
            <div><img class="img-fluid" src="{% static 'about-4.jpg' %}" alt="fitness girl"></div>
            <div class="text-caption">
                  <h2 class="animate__animated animate__fadeInRight animate__delay-0.5s">About Us</h2>
                  <p class="animate__animated animate__fadeInRight animate__delay-1s">Fitness is not a destination it is a way of life.</p>
            </div>
      </div>
      <!--End Header Image Section-->

      <!--Start About Section-->
      <section id="about" class="about-section">
            <div class="auto-container pl-5 pr-5">
                  <div class="row">
                        <!--Content-Column-->
                        <div class="content-column col-lg-6 col-md-12 col-sm-12">
                              <div class="inner-column">
                                    <!--Section Title-->
                                    <div class="section-title">
                                          <div class="title">Xtreme FC all about</div>
                                          <h2>What is functional</h2>
                                    </div>
                                    <div class="red-text">
                                          At Xtreme Fitness Center Cork City, our motto is your fitness your way.
                                    </div>
                                    <div class="text">
                                          Whatever way you choose to keep fit, whatever advice or instruction you need –
                                          You’ll find it here. All our gym memberships come with unlimited usage, fitness assessments
                                          and personalized fitness programs by our experienced trainers to tailor your exact needs. We offer
                                          a wide range of classes ranging from swimming lessons to fitness classes and personal training.
                                          You will also have discounted access to our 5 treatment room Spa and onsite physio, café, bar and
                                          restaurant. Your fitness, your way in peaceful, calm surroundings.
                                    </div>
                                    <!--Featured Block 1-->
                                    <div class="featured-block">
                                          <div class="block-inner">
                                                <a href="{% url 'products' %}?category=back_attack,boulder_shoulders,hard_ass_hamstrings,precision_pecs,quadzilla,ultimate_core">
                                                      <span class="icon"><i class="fas fa-biking"></i></span></a>
                                                <strong>Cardio and Strength</strong>
                                                <div class="feature-text">
                                                      Our personal trainers will help you find a perfect workout
                                                </div>
                                          </div>
                                    </div>
                                    <!--Featured Block 2-->
                                    <div class="featured-block">
                                          <div class="block-inner">
                                                <a href="{% url 'products' %}?category=back_attack,boulder_shoulders,hard_ass_hamstrings,precision_pecs,quadzilla,ultimate_core"><span class="icon"><i class="fas fa-dumbbell"></i></span></a>
                                                <strong>Fitness Training</strong>
                                                <div class="feature-text">
                                                      Train with the best experts in bodybuilding field.
                                                </div>
                                          </div>
                                    </div>

                              </div>
                        </div>
                        <!--Image-Column-->
                        <div class="image-column col-lg-6 col-md-12 col-sm-12">
                              <div class="inner-column wow fadeInRight animated" data-wow-delay="0ms" data-wow-duration="1500ms" data-wow-offset="10"
                              style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInRight;">
                                    <div class="award animate__animated animate__pulse animate__infinite animate__slower">
                                          <img src="{% static 'award.png' %}" class="img-fluid" alt="award-badge">
                                    </div>
                                    <div class="image">
                                          <img src="{% static 'about-1.png' %}" class="img-fluid" alt="fitness couple">
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>
      </section>
      <!--End About Section-->

      <!--Start Services Section-->
      <section class="about-service-sec">
            <div class="image-layer"></div>
            <div class="auto-container">
                  <div class="row clearfix">
                        <div class="about-service-block col-lg-4 col-md-6 col-sm-12 mt-5">
                              <div class="inner-box">
                                    <div class="icon-box">
                                          <span class="icon">
                                                <i class="far fa-clock"></i>
                                          </span>
                                    </div>
                                    <div class="title">Friendly Atmosphere</div>
                                    <h4>Long Working Hours</h4>
                                    <div class="text">All our clients are treated
                                          as unique individuals and will be given tailored training and nutrition plans
                                          created specifically in line with their goals.</div>
                              </div>
                        </div>
                        <div class="about-service-block col-lg-4 col-md-6 col-sm-12 mt-5">
                              <div class="inner-box">
                                    <div class="icon-box">
                                          <span class="icon">
                                                <i class="fas fa-users"></i>
                                          </span>
                                    </div>
                                    <div class="title">Age doesn't matter </div>
                                    <h4>All Age</h4>
                                    <div class="text">With us, everyone is welcome. And we like freedom of
                                          choice.We welcome all age group people under one roof.</div>
                              </div>
                        </div>
                        <div class="about-service-block col-lg-4 col-md-6 col-sm-12 mt-5">
                              <div class="inner-box">
                                    <div class="icon-box">
                                          <span class="icon">
                                                <i class="fas fa-money-bill-wave"></i>
                                          </span>
                                    </div>
                                    <div class="title">Excellent Deal</div>
                                    <h4>Best Price</h4>
                                    <div class="text">We think that everyone should have the opportunity
                                          to live a healthy life. Not just those with beefy wallets.</div>
                              </div>
                        </div>
                  </div>
            </div>
      </section>
      <!--End Services Section-->

      <!--Start Trainning Section-->
      <section class="trainning-section text-center mb-5">
            <div class="auto-container">
                  <div class="row clearfix">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                              <div class="service-box">
                                    <figure">
                                          <img class="img-fluid" src="{% static 'about-gym-fitness.jpeg' %}" alt="fitness man">
                                    </figure>
                                    <div class="content">
                                          <div class="price">€9.99/class</div>
                                          <h3><a href="{% url 'products' %}?category=back_attack,boulder_shoulders,hard_ass_hamstrings,precision_pecs,quadzilla,ultimate_core">
                                                UpperBody Trainnings</a></h3>
                                          <a class="site-link" href="{% url 'products' %}?category=back_attack,boulder_shoulders,hard_ass_hamstrings,precision_pecs,quadzilla,ultimate_core">
                                                <i class="fas fa-long-arrow-alt-right"></i>
                                          </a>
                                    </div>
                              </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 pt-5 pt-md-0 pt-lg-0">
                              <div class="service-box">
                                    <figure">
                                          <img class="img-fluid" src="{% static 'about-lowerbody-2.jpg' %}" alt="man tranning">
                                    </figure>
                                    <div class="content">
                                          <div class="price">€9.99/class</div>
                                          <h3><a href="{% url 'products' %}?category=back_attack,boulder_shoulders,hard_ass_hamstrings,precision_pecs,quadzilla,ultimate_core">
                                                LowerBody Trainnings</a></h3>
                                          <a class="site-link" href="{% url 'products' %}?category=back_attack,boulder_shoulders,hard_ass_hamstrings,precision_pecs,quadzilla,ultimate_core">
                                                <i class="fas fa-long-arrow-alt-right"></i>
                                          </a>
                                    </div>
                              </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 pt-5 pt-lg-0">
                              <div class="service-box">
                                    <figure">
                                          <img class="img-fluid" src="{% static 'about-core.jpg' %}" alt="man doing core tranning">
                                    </figure>
                                    <div class="content">
                                          <div class="price">€9.99/class</div>
                                          <h3><a href="{% url 'products' %}?category=back_attack,boulder_shoulders,hard_ass_hamstrings,precision_pecs,quadzilla,ultimate_core">
                                                Core Trainnings</a></h3>
                                          <a class="site-link" href="{% url 'products' %}?category=back_attack,boulder_shoulders,hard_ass_hamstrings,precision_pecs,quadzilla,ultimate_core">
                                                <i class="fas fa-long-arrow-alt-right"></i>
                                          </a>
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>
      </section>
      <!--End Trainning Section-->

      <!--Start Motivation Icons Section-->
      <section class="motivation-section text-center mb-5">
            <div class="auto-container">
                  <div class="row clearfix">
                        <div class="col-12">
                              <h1>What <span>are you waiting</span> for <span>?</span></h1>
                        </div>
                        <div class="col-10 offset-1">
                              <p>Xtreme FC can help you to achieve all your fitness goals.
                                    Be that weight loss, lean muscle gain or a complete mind & body transformation…
                                    We got your back!</p>
                        </div>
                  </div>
                  <div class="row clearfix mt-5">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2">
                              <div class="motivation-icon">
                                    <div class="motivation-img">
                                          <img src="{% static 'muscles.png' %}" alt="muscle image">
                                    </div>
                                    <div class="icon-caption pt-3">
                                          Grow <span>Stronger</span>
                                    </div>
                              </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 pt-md-1 col-lg-2">
                              <div class="motivation-icon">
                                    <div class="motivation-img">
                                          <img src="{% static 'stopwatch.png' %}" alt="stopwatch image">
                                    </div>
                                    <div class="icon-caption pt-3">
                                          Enhance <span>Performance</span>
                                    </div>
                              </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 pt-md-1 col-lg-2">
                              <div class="motivation-icon">
                                    <div class="motivation-img">
                                          <img src="{% static 'pizza.png' %}" alt="pizza image">
                                    </div>
                                    <div class="icon-caption pt-3">
                                          Eat <span>Healthy</span>
                                    </div>
                              </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 pt-md-1 col-lg-2">
                              <div class="motivation-icon">
                                    <div class="motivation-img">
                                          <img src="{% static 'throphy.png' %}" alt="throphy image">
                                    </div>
                                    <div class="icon-caption pt-3">
                                          Compete and <span>Win</span>
                                    </div>
                              </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 pt-md-1 col-lg-2">
                              <div class="motivation-icon">
                                    <div class="motivation-img">
                                          <img src="{% static 'hearth.png' %}" alt="hearth image">
                                    </div>
                                    <div class="icon-caption pt-3">
                                          Improve your <span>Health</span>
                                    </div>
                              </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 pt-md-1 col-lg-2">
                              <div class="motivation-icon">
                                    <div class="motivation-img">
                                          <img src="{% static 'trainer.png' %}" alt="trainer image">
                                    </div>
                                    <div class="icon-caption pt-3">
                                          Train with <span>professionals</span>
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>
      </section>
      <!--End Motivation Icons Section-->

      <!--Start Trainers Section-->
      <section class="trainer-section">
            <div class="auto-container">
                  <div class="row">
                        <div class="col-md-12 text-center">
                              <h2>Our Trainers</h2>
                        </div>
                  </div>
                  <div class="row clearfix mb-3">
                        <div class="team-block col-sm-12 col-md-6 col-lg-4">
                              <div class="inner-box">
                                    <div class="image">
                                          <img class="img-fluid" src="{% static 'trainer-3.jpeg' %}" alt="fitness-coach">
                                    </div>
                                    <div class="content">
                                          <div class="title">Bodybuilding Coach</div>
                                          <div class="name">Luke Skywalker</div>
                                          <div class="team-social">
                                                <a href="http://www.facebook.com" target="_blank" rel="noopener"><i class="fab fa-facebook fa-2x" aria-hidden="true"></i>
                                                      <span class="sr-only">Facebook</span>
                                                </a>
                                                <a href="http://www.instagram.com" target="_blank" rel="noopener"><i class="fab fa-instagram fa-2x" aria-hidden="true"></i>
                                                      <span class="sr-only">Instagram</span>
                                                </a>
                                                <a href="http://www.youtube.com" target="_blank" rel="noopener"><i class="fab fa-youtube fa-2x" aria-hidden="true"></i>
                                                      <span class="sr-only">YouTube</span>
                                                </a>
                                                <a href="http://www.twitter.com" target="_blank" rel="noopener"><i class="fab fa-twitter fa-2x" aria-hidden="true"></i>
                                                      <span class="sr-only">Twitter</span>
                                                </a>
                                          </div>
                                    </div>
                              </div>
                        </div>
                        <div class="team-block col-sm-12 col-md-6 col-lg-4">
                              <div class="inner-box">
                                    <div class="image">
                                          <img class="img-fluid" src="{% static 'trainer.jpeg' %}" alt="fitness-coach">
                                    </div>
                                    <div class="content">
                                          <div class="title">Crossfit Coach</div>
                                          <div class="name">Sarah Parker</div>
                                          <div class="team-social">
                                                <a href="http://www.facebook.com" target="_blank" rel="noopener"><i class="fab fa-facebook fa-2x" aria-hidden="true"></i>
                                                      <span class="sr-only">Facebook</span>
                                                </a>
                                                <a href="http://www.instagram.com" target="_blank" rel="noopener"><i class="fab fa-instagram fa-2x" aria-hidden="true"></i>
                                                      <span class="sr-only">Instagram</span>
                                                </a>
                                                <a href="http://www.youtube.com" target="_blank" rel="noopener"><i class="fab fa-youtube fa-2x" aria-hidden="true"></i>
                                                      <span class="sr-only">YouTube</span>
                                                </a>
                                                <a href="http://www.twitter.com" target="_blank" rel="noopener"><i class="fab fa-twitter fa-2x" aria-hidden="true"></i>
                                                      <span class="sr-only">Twitter</span>
                                                </a>
                                          </div>
                                    </div>
                              </div>
                        </div>
                        <div class="team-block col-sm-12 col-md-6 col-lg-4">
                              <div class="inner-box">
                                    <div class="image">
                                          <img class="img-fluid" src="{% static 'trainer-2.jpg' %}" alt="fitness-coach">
                                    </div>
                                    <div class="content">
                                          <div class="title">Cardio & Conditioning Coach</div>
                                          <div class="name">Ross Galler</div>
                                          <div class="team-social">
                                                <a href="http://www.facebook.com" target="_blank" rel="noopener"><i class="fab fa-facebook fa-2x" aria-hidden="true"></i>
                                                      <span class="sr-only">Facebook</span>
                                                </a>
                                                <a href="http://www.instagram.com" target="_blank" rel="noopener"><i class="fab fa-instagram fa-2x" aria-hidden="true"></i>
                                                      <span class="sr-only">Instagram</span>
                                                </a>
                                                <a href="http://www.youtube.com" target="_blank" rel="noopener"><i class="fab fa-youtube fa-2x" aria-hidden="true"></i>
                                                      <span class="sr-only">YouTube</span>
                                                </a>
                                                <a href="http://www.twitter.com" target="_blank" rel="noopener"><i class="fab fa-twitter fa-2x" aria-hidden="true"></i>
                                                      <span class="sr-only">Twitter</span>
                                                </a>
                                          </div>
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>
      </section>
      <!--End Trainers Section-->

      <!--Start Benefit Section-->
      <section class="benefit-section mt-5 pt-3 pb-3">
            <div class="side-image animate__animated animate__shakeX animate__infinite animate__slower"></div>
            <div class="auto-container">
                  <div class="row clearfix">
                        <div class="content-column col-lg-6 col-md-12 col-sm-12">
                              <div class="inner-column">
                                    <div class="section-title mb-3">OUR BENEFITS</div>
                                    <h2>Everything is <br> possible with us</h2>
                                    <div class="benefit-block">
                                          <div class="block-inner">
                                                <img class="" src="{% static 'training.png' %}" alt="workout plan image">
                                                <strong>40 Courses a week</strong>
                                                <div class="benefit-text">Fitness/Aerobics Studio offering wide range of classes
                                                      (Spinning, Pilates, Kettlebells, Suspension training, Yoga) – 
                                                      Classes only €2.50 for members</div>
                                          </div>
                                    </div>
                                    <div class="benefit-block">
                                          <div class="block-inner">
                                                <img src="{% static 'healthy.png' %}" alt="group workout image">
                                                <strong>Effective Group Training</strong>
                                                <div class="benefit-text">Flexible class scheduling to ensure
                                                      every member of the group has access to the wealth of
                                                      fittness solutions we provide.</div>
                                          </div>
                                    </div>
                                    <div class="benefit-block">
                                          <div class="block-inner">
                                                <img src="{% static 'nutrition.png' %}" alt="nutrition image">
                                                <strong>Personalised nutrition coaching</strong>
                                                <div class="benefit-text">The journey towards a better body starts in your kitchen.
                                                      Look and feel your best by changeing your eating habits and cooking healthier meals at home.
                                                </div>
                                          </div>
                                    </div>
                              </div>
                        </div>
                        <div class="images-column col-lg-6 col-md-12 col-sm-12 d-none d-md-block">
                              <div class="inner-column">
                                    <div class="image-one">
                                          <img class="img-fluid" src="{% static 'benefit-1.jpeg' %}" alt="">
                                    </div>
                                    <div class="image-two">
                                          <img class="img-fluid" src="{% static 'benefit-2.jpeg' %}" alt="">
                                    </div>
                                    <div class="image-three">
                                          <img class="img-fluid" src="{% static 'benefit-3.jpeg' %}" alt="">
                                    </div>
                                    <div class="image-four">
                                          <img class="img-fluid" src="{% static 'benefit-4.jpeg' %}" alt="">
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>
      </section>
      <!--End Benefit Section-->

      <!--Start -->
      <section class="elementor-section mt-lg-5 pt-lg-5 pb-5">
            <div class="auto-container">
                  <div class="row clearfix">
                        <div class="col-12 text-center">
                              <h2>DISCOVER WHAT YOU’RE CAPABLE OF</h2>
                              <p>Contact us today, and our team will show you how to push the limits of what you thought you were capable of.</p>
                        </div>
                        <div class="col-12 text-center">
                              <a href="{% url 'products' %}" class="btn btn-outline-red rounded-0 mt-5 text-center">
                                    <span class="text-uppercase">Contact Us</span>
                              </a>
                        </div>
                        
                  </div>
            </div>
      </section>



      
{% endblock %} 